body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Bitter', serif;
}
  
main {
    flex: 1 0 auto;
}
  
footer {
    padding-top: 0;
    text-align: right;
    font-family: 'Padauk', sans-serif;
}

img {
    width: 100%;
}

.tv-card-img {
    min-height: 170px;
}

.tv-card-content {
    min-height: 140px;
}

/* @font-face {
    font-family: 'Padauk', sans-serif;
    src: url("https://fonts.googleapis.com");
} */