{% extends 'base.html' %}
{% block content %}

<h1>My Visits</h1>

<div class="row">
    {% for place in places %}
    <a href="{% url 'detail' place.id %}">
        <div class="col s12 m4">
            <div class="card">
                {% for photo in place.photo_set.all %}
                <div class="card-image">
                    <img class="tv-card-img" src="{{photo.url}}">
                    <span class="card-title">{{ place.cityName }}</span>
                </div>
                {% empty %}
                <div class="card-panel teal-text center-align"></div>
                {% endfor %}

                <div class="card-content tv-card-content">
                    <p>Visited On: {{ place.fromDate }}</p>
                    <p>Returned At: {{ place.toDate }}</p>
                    <p>Highlights: {{ place.highlights }}</p>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}